/* color1: #F77E21
    color2: #100720
    color3: #D9D9D9 */
#root {
    height: 100%;
    background-color: #F77E21;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}


.title {
    font-family: 'Fredoka One', cursive;
    font-weight: 900;
    font-size: 3.2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
    margin-top: 20px;
}

.slogan {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    width: 88%;
    margin: 10px 0 30px;


}

input {
    width: 22em;
    padding: 0.5em;
    border-radius: 1em;
    border-color: #ffff;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    margin: 1em;
    padding: 1.1em;
    background-color: #ffff;
    border-radius: 0.4em;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 510;
    font-size: 1em;
    cursor: pointer;
    border: solid black 2px;
}

/* Welcome */


.logoRed {
    min-height: 100px;
    min-width: 100px;
    max-height: 300px;
    max-width: 300px;

}

.buttonSignUp {
    display: inline-block;
    list-style-type: none;
    background-color: #F77E21;
    border: 0;
    font-size: medium;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.buttonSignUp:hover {
    color: #fff;
    border-bottom: 0.1em solid #fff;
    cursor: pointer;
}

.registerText {
    display: inline-block;
}

.imageGoogle {
    height: 20px;
    width: 20px;
    padding: 0.8em;
    display: inline-block;
    background-color: #fff;
    border-radius: 0.3em;

}

#textGoogle {
    display: inline-block;
    margin: 0.7em;
    padding: 0;
}


#buttonGoogle {
    background-color: #ffff;
    border-radius: 0.4em;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 510;
    font-size: 1em;
    padding: 0.3em;
    margin: 1em;
    cursor: pointer;
}

#buttonGoogle:hover {
    background-color: #4285F4;
    color: #fff;

}


/* este es el div que contiene la imagen y el texto de Google! */
div {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Login */

.loginContainer {
    margin-top: 30px;
}

.containerLogin {
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(217, 217, 217, 0.392), rgba(217, 217, 217, 0.392)),
        /*Si se quita está línea se quita la capa del degradado*/
        url(./img/Logo-red-social.png) no-repeat center center fixed;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

#errorText {
    background-color: #f34a4a;
    color: #fff;
}

#formLogin {
    justify-content: center;
}

.containerWelcome {
    background-color: #F77E21;
    height: 90%;
    width: 90%;
    margin: auto 20px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

#containerTitle {
    display: flex;
    max-width: 400px;
    min-width: 300px;
    max-height: 80%;
    min-height: 40%;
    flex-direction: column;
    align-items: center;
    flex-basis: 350px;
    flex-grow: 1;
    justify-content: center;
    margin: auto;
}

#containerBody {
    display: flex;
    max-width: 500px;
    min-width: 350px;
    max-height: 80%;
    min-height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* Register */
.containerRegister {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(217, 217, 217, 0.392), rgba(217, 217, 217, 0.392)),
        /*Si se quita está línea se quita la capa del degradado*/
        url(./img/Logo-red-social.png) no-repeat center center fixed;
    background-size: contain;
}

/* Wall */
.textUser {
    width: 8cm;
    padding: 50px;
    padding-top: 1px;
    padding-left: 1px;
}